/****** HEADER ********/

.financial #lead_image {
	background-color: #72488c;
}

.financial #lead_image:after {
	background-color: #643f7c;
}

.financial #lead_image .monitor {
	left: 50%;
	margin-left: -65em;
}

@media only screen and (max-width: 600px) {
	.financial #lead_image .monitor {
		width: 55em;
		margin-left: -32em;
	}
}


.financial #content {
	background-color: rgb(245, 243, 246);
}


.financial #title h1 {
	color: #35184e;
}

.financial #title #date {
	color: #875da1;
	background-color: rgb(235, 227, 234);
}

.financial section {
	border-bottom-color: #E7E7E7;
	
}

.financial #to_top {
	background-color: #72488c;
}

.financial #to_top button {
	background-color: rgb(53, 0, 83);
}

.financial figure {
	margin-top: 2em;
	margin-bottom: 2em;
}

.financial figure + h4 {
	margin-top: 6em;
}


/****** PARAGRAPH STYLES ********/

h2 {
	color: #35184e;
}

h3 {
	color: #855CA0;
}

h4 {
	color: #884396;
}



.financial section a {
	color: rgb(109, 39, 148);
}

.financial section a:hover, .financial section a:visited:hover {
	color: rgb(159, 62, 204);
	border-bottom: 1px dotted purple;
}

.financial section a:visited {
	color: rgb(172, 139, 190);
}