/*nav p, a#top {
	text-align: center;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

nav #home {
	background-color: #1a7edf;
	padding-top: 14px;
	padding-bottom: 14px;
	cursor: pointer;
}

nav #home a {
	text-decoration: none;
	color: white;
	vertical-align: middle;
}

nav #home:hover {
	background-color: #439EF7;
	-webkit-transition: all 0.3s ease;
}

nav #prev_next {
	color: #929292;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

nav #prev_next img {
	margin-left: 2em;
	margin-right: 2em;
	vertical-align: middle;
}

nav #prev_next a {
	vertical-align: middle;
}
*/
/*
#lead_image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

#chromeframe {
	position: fixed;
	background-color: white;
	margin: 0;
	width: 100%;
	text-align: center;
	padding: 0.3em;
	font-size: 1.5em;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	z-index: 1;
}

header {
	overflow: hidden;
}

#content {
	top: 68em;
	position: relative;
	background-color: white;
	z-index: 2;
}

#title {
	border-bottom: 3px double #E7E7E7;
}

#lead_image {
	height: 68em;
	position: fixed;
	width: 100%;
	z-index: -1;
}

#lead_image:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 14em;
	bottom: 0;
	z-index: -1;
}

@media only screen and (max-width: 600px) {
	#lead_image:after {
		height: 5em;
	}
}

#lead_image .monitor, #lead_image .side1, #lead_image .side2 {
	display: block;
	position: absolute;
}

nav {
	position: fixed;
	padding: 2em 2em;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

nav a {
	display:inline-block;
	color: white;
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-rendering: optimizeLegibility;
}

nav a, a#top {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 300;
	
}

nav a:hover {
	color: white !important;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav a#prev {
	float: left;
	z-index: 1;
	position: relative;
}

nav #center {
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 0;
}

nav a#next {
	float: right;
	z-index: 1;
	position:relative;
}

a#scroll {
	position: fixed;
	z-index: 1;
	top: 20.5em;
	left: 50%;
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	font-size: 3em;
	display: block;
	margin-left: -0.333em;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a#scroll:hover {
	color: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


@media only screen and (max-width: 600px) {
	nav a span {
		display: none;
	}
}




@media only screen and (max-width: 600px) {
	#lead_image {
		height: 29.6em;
	
	}
	#content {
		top: 29.6em;
	}

}



#title {
	padding-top: 6.5em;
	padding-bottom: 6.5em;
}

#title h1 {
	font-size: 4.5em;
	text-align: center;
	margin: 0;
	letter-spacing: 3px;
	font-weight: 100;
}

#title #meta {
	text-align: center;
	font-size: 1.1em;
	font-weight: 600;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	margin-top: 3em;
}

#title #meta span, #title #meta a {
	padding: 5px 15px;
	margin-left: 10px;
}

#title #meta span:first-child {
	margin-left: 0;
}

#title #meta a {
	text-decoration: none;
	color: #3A4C85;
	background-color: rgb(240, 243, 248);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	white-space: nowrap;
}

#title #meta a:hover {
	background-color: rgb(223, 237, 255);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media only screen and (max-width: 600px) {
	#title h1 {
		font-size: 3.5em;
		font-weight: 300;
	}
	
	#title {
		padding-top: 4em;
		padding-bottom: 4.3em;
	}
	#title #meta {
		margin-top: 1em;
		line-height: 400%;
	}
}

/*
section#overview.light p {
	font-size: 2.2em;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.800em;
	text-align: center;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;      
}

*/

section {
	clear: both;
	padding-top: 8em;
	padding-bottom: 7em;
	*zoom: 1;
	border-bottom: 1px dotted #CACACA;
	/*border-bottom: 100px solid #9a2626;*/
}

@media only screen and (max-width: 600px) {
	section {
		padding-top: 4em;
		padding-bottom: 3em;
	}
}


/*clearfix after sections*/
section:before,
section:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

section:after {
    clear: both;
}
/*
section > div img {
	/*padding-left: 11.899855%;
	width: 100%;
	margin-top: 10%;
}

section > div img.light {
	border: 1px solid #F5F5F5;
}

section > div > figure:first-child img {
	margin-top: 0;
}*/

section.graphic figure {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100em;
}

figure img {
	max-width:100%;
}
/*
section.graphic.browser figure img {
	padding-top: 9em;
}*/

section.graphic {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 3em;
	border: 0;
	/*max-height: 50em;*/
	overflow: hidden;
}

.col1, .col1-wide, .col2-1, .col2-2 {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 76.265338%;
}

.col1-wide {
	width: 100%;
}

.col1:after, .col2-1:after, .col2-2:after {
	content: '';
	clear: both;
}

@media screen and (min-width:1300px) {
	section {
		padding-left: 2%;
		padding-right: 2%;
	}
	.col2-1 {
		float: left;
		padding-left: 3.473927%;
		width: 43.006631%;
		max-width: 780px;
	}
	
	.col2-2 {
		padding-left: 7.019846%;
		width: 43.010084%;
		float: left;
		max-width: 780px;
		
	}
	
	.col1-wide {
		max-width: 100em;
		/*width: 76.265338%;*/
	}
	
	/*
	.col1-wide {
		float: left;
		padding-left: 11.83%;
		width: 76.33%;
		max-width: 1560px;
	}*/
	/*
	.col1-wide figcaption {
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 76.265338%;
	}*/


}


#to_top {
	padding-top: 7em;
	padding-bottom: 5em;
	margin-top: 10em;
}

#to_top > *{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#to_top button {
	height: 10.2em;
	width: 10.2em;
	border-radius: 50%;
	border: 0;
	outline: 0;
	padding: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: relative;
}

#to_top button:hover, #to_top button:focus, #to_top button:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


#to_top a#top{
	color: white;
	margin-top: 1.5em;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	#to_top {
		padding-top: 2em;
		padding-bottom: 2em;
		margin-top: 5em;
	}
	#to_top button {
		height: 8em;
		width: 8em;
	}
	#to_top button img {
		width: 100%;
	}
	#to_top a#top{
		margin-top: 0.7em;
	}
}

section p:first-child {
	margin-top: 0;
}

section:nth-last-child(2) {
	border-bottom: 0;
}


/****** PARAGRAPH STYLES ********/

h2 {
	font-weight: 800;
	font-size: 1.5em;
	margin-bottom: 1.364em;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-top: 4.091em;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2:first-child {
	margin-top: 0;
}
/*
@media only screen and (max-width: 600px) {
	h2 {
		font-size: 1.5em;
	}
}*/
/*
h2.img_title {
	text-align: center;
}*/

h3 {
	font-size: 2.2em;
	line-height: 1.800em;
	margin-bottom: 1.3em;
	letter-spacing: 1px;
	font-weight: 300;
}

h4 {
	font-weight: 600;

	font-size: 1.7em;
	letter-spacing: 1px;
	margin-top: 2.5em;
}

h4:first-child {
	margin-top: 0;
}

section p, section ul, section ol, section figcaption {
	color: #6b6565;
	font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 1.5em;
	line-height: 1.9em;
	margin-top: 1.7em;
	text-rendering: optimizeLegibility;
}

section a {
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

section a:hover {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-bottom: 1px dotted rgb(103, 156, 236);
}

strong {
	font-weight: 500;
}

.pub {
	font-style: italic;
}

figcaption {
	margin-bottom: 3em;
}

figcaption span {
	font-weight: 500;
}

/*
figcaption {
	font-size: 1.4em;
	font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(162, 86, 86);
	margin-top: 1em;
	border-bottom: 1px solid rgb(240, 240, 240);
	padding-bottom: 0.7em;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.85em;
}

figcaption span {
	color: rgb(219, 0, 0);
	font-weight: 300;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.286em;
}

figure.light_bg img {
	border-radius: 0.5em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}*/