/****** HEADER ********/

.LD_startup #lead_image {
	background-color: #9a2626;
}

.LD_startup #lead_image:after {
	background-color: #6e1212;
}

.LD_startup #lead_image .monitor {
	bottom: 11em;
	left: 50%;
	margin-left: -29.25em;
	z-index: 1;
}

.LD_startup #lead_image .side1 {
	bottom: 7em;
	left: 40%;
	margin-left: -40em;
}

.LD_startup #lead_image .side2 {
	top: 0em;
	right: 20%;
	margin-right: -30em;
}

@media only screen and (max-width: 600px) {
	.LD_startup #lead_image .monitor {
		width: 26em;
		bottom: 3.7em;
		left: 50%;
		margin-left: -13em;
	}
	
	.LD_startup #lead_image .side1 {
		width: 6em;
		bottom: 4em;
		left: 40%;
		margin-left: -20em;	
	}
	
	.LD_startup #lead_image .side2 {
		width: 20em;
		right: 45%;
	}
}

.LD_startup nav a {
	color: rgba(255, 255, 255, 0.85);
}

.LD_startup0 #lead_image {
	background-color: #9a2626;
}

.LD_startup #title h1 {
	color: #490013;
}

.LD_startup #title #date {
	color: #bb3006;
	background-color: rgb(255, 242, 240);
}

.LD_startup .graphic.one figure {
	background-color: #9a2626;
}

.LD_startup .graphic.two figure {
	background-color: #B6B0AD;
}

.LD_startup #to_top {
	background-color: #9a2626;
}

.LD_startup #to_top button {
	background-color: rgb(99, 3, 3);
}

/****** PARAGRAPH STYLES ********/

.LD_startup h2 {
	color: #490013;
}

.LD_startup h3 {
	color: #DF3636;
}

.LD_startup h4 {
	color: #974747;
}

.LD_startup .dark h2 {
	color: white;
}

.LD_startup .dark h3 {
	color: #BD8383;
}

.LD_startup .dark figcaption {
	color: rgb(182, 165, 165);
	border-bottom: 1px solid rgb(82, 65, 65);
}

.LD_startup .dark figcaption span {
	color: #BD8383;
}

.LD_startup section a {
	color: rgb(184, 0, 0);
}

.LD_startup section a:hover, .LD_startup section a:visited:hover {
	color: rgb(236, 34, 51);
	border-bottom: 1px dotted red;
}

.LD_startup section a:visited {
	color: rgb(211, 145, 145);
}

