html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #F1ECEC;
  text-align: center;
}

header {

}


h2 {
  font-weight: 700;
  font-size: 5rem;
  color: #0009FF;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
  margin-bottom: 6rem;
}

p {
  font-weight: 200;
    font-size: 2.4rem;
    color: #756464;
    line-height: 3.4rem;
    letter-spacing: 0.1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Helvetica Neue',
  Helvetica, sans-serif;
}
