
#button_list {
	margin-top:  50px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 50 10 30 10;

}

.borrow_item {
	float: left;
}

.return_item {
	float: center;
}

.retrieve_records {
	float: right;
}


.borrow_item, .return_item, .retrieve_records {
  	width: 160px;
  	height: 100px;
  	margin: 0;
  	border: 0;
	background: url(images/box_yellow.png) no-repeat center top;
  	cursor: pointer;
}

.borrow_item .label, .return_item .label, .retrieve_records .label {
	font: 15px Verdana, Arial, Helvetica, sans-serif;
	color: white;
	letter-spacing: 2px;
	text-align: center;
}

#button_list .highlight {
	text-transform: uppercase;
	font-weight: bold;
}

.borrow_item:hover, .return_item:hover, .retrieve_records:hover {
	width: 160px;
  	height: 100px;
	background: url(images/box_orange.png) no-repeat center top;
}

.submit {
	border: 0;
	width: 124px;
	height: 36px;
	float: right;
	background: url(images/submit.png) no-repeat right top;
	margin-top: -20px;
}

.add_item {
	border: 0;
	width: 20px;
  	height: 20px;
	background: url(images/add_item.png) no-repeat center center;	
}
