@import url(layout.css);
@import url(forms.css);
@import url(boxes.css);
@import url(buttons.css);

body {
	
	background-color: #A2D9D1;
	font: 17px Verdana, Arial, Helvetica, sans-serif;
	color: #767676;
	text-align: center;
}

.error {
	color: red;
	font-size: 14px;
}
