.article_title {
	/*font: 1.125em/175% "AvenirLTStd-Light", sans-serif;*/
	font: italic 1.325em "BodoniSvtyTwoITCTT", serif;
	display: inline-block;
	margin-bottom: 0.333em;
}

.article_title a {
	text-decoration: none;
	/*color: rgba(172, 189, 210, 1);*/
	color: #6384A8;
}

.article_title a:hover {
	color: white;
}

.teaser + .teaser {
	margin-top: 1.250em;
}