html {
	height: 100%;
}

body {
	background: #515d6d; /* Old browsers */
	background: -moz-radial-gradient(center top, ellipse farthest-corner, #515d6d 0%, #1F242A 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center top, 0px, right bottom, 100%, color-stop(0%,#1F242A), color-stop(100%, #262B33)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center top, ellipse farthest-corner, #515d6d 0%, #1F242A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center top, ellipse farthest-corner, #515d6d 0%, #1F242A 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center top, ellipse farthest-corner, #515d6d 0%, #1F242A 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #515d6d 0%, #1F242A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515d6d', endColorstr='#1F242A',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	height: 100%;
	max-width: 980px;
}

#left_bar {
	width: 20%;
	float: left;
	height: 100%;
	background-color: rgba(0,0,0,0.23)
}


#header {
	background: #b82718; /* Old browsers */
	background: -moz-linear-gradient(top, #b82718 0%, #9d2215 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b82718), color-stop(100%,#9d2215)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b82718 0%,#9d2215 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b82718 0%,#9d2215 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b82718 0%,#9d2215 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b82718 0%,#9d2215 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82718', endColorstr='#9d2215',GradientType=0 ); /* IE6-9 */
	border: 1px solid #90261C;
	
	height: 8.125em;
}

#navigation > ul > li {
	padding-top: 1.214em;
	padding-bottom: 1.214em;
	border-top: 1px solid rgba(187, 205, 229, 0.11);
	border-bottom: 1px solid black;
}

#navigation > ul > li:first-child {
	border-top: 0;
}

#navigation > ul > li:last-child {
	border-bottom: 0;
}

#navigation > ul > li > ul {
	padding-left: 1.429em;
}

#navigation li a {
	color: rgba(172, 189, 210, 0.81);
	font: 0.875em "AvenirLTStd-Light", sans-serif;
	text-decoration: none;
	padding-left: 1.429em;
}

#navigation li a:hover {
	color: white;
}

#body_wrap {
	float: left;
	height: 100%;
	width: 75%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	position: relative;
}