h1.title {
	margin-top: 2.000em;
	margin-bottom: 0.933em;
	
	color: white;
	font: italic 1.875em "BodoniSvtyTwoITCTT", serif;
	display: inline-block;
}


.article {
	background-color: rgba(255, 255, 255, 0.86);
	
	padding: 0.938em;
}

.author {
	color: rgba(172, 189, 210, 0.81);
	display: inline-block;
	font: 0.938em/175% "AvenirLTStd-Light", sans-serif;
}

.author a {
	color: rgba(172, 189, 210, 0.81);
	
}

.author a:hover {
	color: white;
}

.article_nav {
	background-color: rgba(255, 255, 255, 0.30);
	padding: 0.167em 0.938em;
}

.article_nav .prev, .article_nav .next {
	color: rgba(255, 255, 255, 0.71);
}

.article_nav .next{
	float: right;
}

.article_nav a {
	font: 0.750em "AvenirLTStd-Light", sans-serif;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.71);
}

.article_nav a:hover {
	color: white;
}