html { height: 100%; }
body {
  background-image: url(images/radial_gradient.png);
  background-repeat: no-repeat;
  background-color: #E2E2E4;
  height: 100%;
  background-position: center top;
  margin: 0px;
  padding: 0px;
}
#wrap {
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 10px;
  width: 700px;
}


