#portfolio_projects li.current:after {
	border-bottom-color: rgb(182, 184, 187);
}

.oneview.title {
	border-top: 1px solid rgb(182, 184, 187);
	background: url(../images/OneView-header2.jpg) no-repeat center center, url(../images/OneView-header2-background.jpg) #f2f2f2;
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.oneview.role {
	/*background: rgb(210, 213, 219);*/
	
}

section.oneview:nth-child(odd) {
	background: white;
}

section.oneview:nth-child(even) {
	background-color: #f5f6f7;
}

#oneview_mac {
	position: relative;
}

section.role.oneview p span {
	color: #0d9cba;
}

section.content.oneview a {
	color: #0d9cba;
}

section.content.oneview a:hover {
	color: #00c7f0;
	border-bottom-color: #acecf9;
}