#portfolio_projects li.current:after {
	/*border-bottom-color: #e58088;*/
	border-bottom-color: rgb(189, 189, 189);
}


.wireframes img {
	max-width: 100%;
}

.wireframes.title {
	border-top: 1px solid rgb(189, 189, 189);
	border-bottom: 1px solid rgb(189, 189, 189);
	background: url(../images/Wireframes-header.jpg) no-repeat center center, url(../images/Wireframes-header-background.png) repeat #f6f6f6;
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
}

section.wireframes:nth-child(even) {
	background: url(../images/Wireframes-header-background.png);
}

section.role.wireframes {
	border-top: 0;
}
