/*@media all and (max-width: 3284px) and (min-width: 3243px) {
}*/

.row:after {
	content: '';
	clear: both;
}

.top_bar {
	z-index: 1;
}

.fixed_nav {
	position: fixed;
	top: 0;
	display: none;
}

.fixed_nav {
	width: 100%;
	min-width: 980px; /*temporary until responsive*/
}

.fixed_nav > .row {

}

.fixed_nav .logo img {
	 width: 7.500em;
}

.top_bar, .top_bar > .row {
	
}

#main {
	height: 100%;
	padding-top: 5em;
}

.top_bar .logo, .nav_links ul {
	height: 3.438em;
	position: relative;
}

.top_bar .logo img {
	height: 1.5em;
}

.fixed_nav .logo {
	position: relative;
	height: 3.438em;
}

.logo a {
	top: 50%;
	margin-top: -0.594em;
}

.top_bar .logo a {
	position: absolute;
}

.fixed_nav .logo a {
	top: 1em;
	margin-top: -0.79em;
	position: relative;
}

.fixed_nav .logo p {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 12.8em;
	margin-top: -0.4em;
}

.nav_links ul, .work_nav_links ul {
	float: right;
}

.nav_links ul {
	padding-top: 1.219em;
}

.nav_links li, .work_nav_links li  {
	display: inline-block;
	margin-left: 2.5em;
}

.nav_links li a, .work_nav_links a {
	/*position: absolute;*/
}

.work_nav_links ul {
	padding-top: 1.1em;
	float: right;
}

.work_nav_links li {
	display: inline-block;
	/*margin-left: 1.3em;*/
	margin-left: 0.8em;
}

.work_nav_links a {
	padding: 0.286em 0.714em;
	position: relative;
}

.top_bar + hr {
	display: block;
	clear: both;
	margin: 0;
}

#portfolio_projects {
	width: 100%;
	height: 13.125em;
	padding-top: 2.344em; /*equal padding on both sides to center*/
	padding-bottom: 2.344em;

}


#portfolio_projects li {
	height: 8.438em;
	position: relative;
}

#portfolio_projects li a {
	display: block;
	height: 100%;
	position: relative;
}

#portfolio_projects li a img {
	position: absolute;
	top: 50%;
    left: 50%;
    width: 70%;
    margin: -9px 0 0 -35%;
}


#portfolio_projects #OneView a img {
	width: 60%;
	margin-left: -30%;
}

#portfolio_projects #FNZC a img {
	width: 65%;
	margin-left: -32.5%;
}

#portfolio_projects #Pioneer a img.tall {
	width: 60%;
	top: 50%;
	margin: -26px 0 0 -30%;
}

#portfolio_projects #Visualizer a img {
	margin-top: -12px;
}

#portfolio_projects #Wireframes a img {
	width: 73%;
	margin-left: -36.5%;
}


.title {
	height: 26.625em;
}

section.content {
	padding-top: 3.75em;
	padding-bottom: 3.75em;
}

section.role {
	padding-top: 2em;
	padding-bottom: 2em;
	position: relative;
}

section.role h1 {
	display: inline-block;
}

.visit_site {
	padding: 6px 15px 4px;
	display: inline-block;
}

.role .visit_site {
	margin-left: 14px;
	position: relative;
	top: -4px;
}

.small_grid_img .small_img {
	width: 132%;  /*so reach their full size with smaller margins*/
	margin-bottom: 15%;
}

.small_grid_img + .small_grid_img .small_img {
	position: relative;
	left: -10%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url(../images/prev_next.png) no-repeat left top;
	margin-top: -45px;
}

.rslides_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}

.rslides_tabs {
  margin-top: 2.188em;
  text-align: center;
  }

.rslides_tabs li {
  display: inline-block;
  float: none;
  _float: left;
 margin-left: 0.938em;
 margin-right: 0.938em;
}
  
#pager a {
  display: inline-block;
    padding: 0;
}

#pager a:hover {
	border: 0;
}

#pager img {
  float: left;
}

.social {
	width: 32px;
	height: 32px;
	display: inline-block;
	overflow: hidden;
	margin-right: 0.5em;
}




/*GRAPHIC STYLES*/

.top_bar {
	border-bottom: 1px solid #D6E3E6;
	background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#fbfbfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#fbfbfb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#fbfbfb 100%); /* W3C */
}

.fixed_nav {
	background: rgba(266, 266, 266, 0.97);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgb(224, 224, 224);
	height: 3.438em;
	
	/*-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	
	border-bottom: 1px solid white;
	background: -moz-linear-gradient(top, #ffffff 0%, #F3F3F3; 100%); /* FF3.6+ */ /*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#F3F3F3)); /* Chrome,Safari4+ */ /*
	background: -webkit-linear-gradient(top, #ffffff 0%,#F3F3F3 100%); /* Chrome10+,Safari5.1+ */ /*
	background: -o-linear-gradient(top, #ffffff 0%,#F3F3F3 100%); /* Opera 11.10+ */ /*
	background: -ms-linear-gradient(top, #ffffff 0%,#F3F3F3 100%); /* IE10+ *//*
	background: linear-gradient(to bottom, #ffffff 0%,#F3F3F3 100%); /* W3C */
}

.fixed_nav:after {
	content: '';
	width: 100%;
	border-bottom: 1px solid #E9E6E6;
	display: block;
	position: relative;
	top: 0;
}

.fixed_nav .logo img{
	 opacity: 1;
	 
}

.nav_links a.current:after {
	top: 1.417em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #D6E4E7;
	border-width: 0.667em;
	left: 50%;
	margin-left: -0.667em;

}

.work_nav_links a {
	border-radius: 1.143em;
}

.work_nav_links a {
	background-color: gray;
	/*-webkit-border-radius: 1.143em;
	-moz-border-radius: 1.143em;*/
	-webkit-transition: all 0.3s ease;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}

.work_nav_links #oneview_nl {
	background-color: #00c4c0;
}

.work_nav_links #fnzc_nl {
	background-color: #00a8c9;
}

.work_nav_links #pioneer_nl {
	background-color: #dbdbdb;
	color: #4a4a4a;
}

.work_nav_links #visualizer_nl {
	background-color: #797979;
}

.work_nav_links #wireframes_nl {
	background-color: #e58088;
}

.work_nav_links #top {
	background-color: transparent;
	text-transform: lowercase;
	color: #4a4a4a;
}

.work_nav_links a.current:after {
	top: 1.95em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-bottom-color: #D6E4E7;
	left: 50%;
	margin-left: -0.5em;
	border-width: 0.5em;
}

#portfolio_projects, #main {
	background: -moz-linear-gradient(top, #fbfbfb 0%, #e5e6e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e5e6e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfbfb 0%,#e5e6e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfbfb 0%,#e5e6e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfbfb 0%,#e5e6e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfbfb 0%,#e5e6e8 100%); /* W3C */
}

#portfolio_projects ul {
	list-style: none;
}

#portfolio_projects li {
	background-color: white;
	border: 1px solid #D6E4E7;
	-moz-border-radius: 0.313em;
	-webkit-border-radius: 0.313em;
	border-radius: 0.313em;
}

#portfolio_projects li.current:after {
	top: 9.500em; 
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	
	border-color: rgba(0, 0, 0, 0);
	
	border-width: 0.667em;
	left: 50%;
	margin-left: -0.667em;
}

#portfolio_projects li a {
	-moz-border-radius: 0.188em;
	-webkit-border-radius: 0.188em;
	border-radius: 0.188em;
}

#portfolio_projects li#OneView a {
	border: 1px solid #00ACA9;
	background: #00c4c0; /* Old browsers */
	background: -moz-linear-gradient(top, #00c4c0 0%, #00aca9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c4c0), color-stop(100%,#00aca9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00c4c0 0%,#00aca9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00c4c0 0%,#00aca9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00c4c0 0%,#00aca9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00c4c0 0%,#00aca9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4c0', endColorstr='#00aca9',GradientType=0 ); /* IE6-9 */
}

#portfolio_projects li#FNZC a {
	border: 1px solid #00839F;
	background: #00a8c9; /* Old browsers */
	background: -moz-linear-gradient(top, #00a8c9 0%, #0092b0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a8c9), color-stop(100%,#0092b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00a8c9 0%,#0092b0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00a8c9 0%,#0092b0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00a8c9 0%,#0092b0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00a8c9 0%,#0092b0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8c9', endColorstr='#0092b0',GradientType=0 ); /* IE6-9 */
}

#portfolio_projects li#Pioneer a {
	border: 1px solid #C4C4C4;
	background: #dbdbdb; /* Old browsers */
	background: -moz-linear-gradient(top,  #dbdbdb 0%, #c3c3c3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#c3c3c3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbdbdb 0%,#c3c3c3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbdbdb 0%,#c3c3c3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbdbdb 0%,#c3c3c3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbdbdb 0%,#c3c3c3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#c3c3c3',GradientType=0 ); /* IE6-9 */
}

#portfolio_projects li#Visualizer a {
	border: 1px solid #5D5D5D;
	background: #797979; /* Old browsers */
	background: -moz-linear-gradient(top, #797979 0%, #5c5c5c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#797979), color-stop(100%,#5c5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #797979 0%,#5c5c5c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #797979 0%,#5c5c5c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #797979 0%,#5c5c5c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #797979 0%,#5c5c5c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797979', endColorstr='#5c5c5c',GradientType=0 ); /* IE6-9 */
}

#portfolio_projects li#Wireframes a {
	border: 1px solid #D4666E;
	background: #e58088; /* Old browsers */
	background: -moz-linear-gradient(top,  #e58088 0%, #d05f67 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e58088), color-stop(100%,#d05f67)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e58088 0%,#d05f67 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e58088 0%,#d05f67 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e58088 0%,#d05f67 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e58088 0%,#d05f67 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e58088', endColorstr='#d05f67',GradientType=0 ); /* IE6-9 */
}	

#portfolio_projects p.button_title {
	width: 100%;
	height: 100%;
	color: transparent;
}

#portfolio_projects #OneView p.button_title {
	background: url(../images/OneView-button.png) no-repeat center center;
}

#portfolio_projects #FNZC p.button_title {
	background: url(../images/FNZC-button.png) no-repeat center center;
}

#portfolio_projects #Pioneer p.button_title {
	background: url(../images/Pioneer-button.png) no-repeat center center;
}

#portfolio_projects li.current {
	border-color: #AAB4C5;
	-moz-box-shadow: 0 2px 5px #d1d1d1;
	-webkit-box-shadow: 0 2px 5px #d1d1d1;
	box-shadow: 0 2px 5px #d1d1d1;
}

#portfolio_projects li:hover {
	-webkit-transition: all 0.3s ease;
}

#portfolio_projects li#OneView:hover {
	border-color: #14D2CE;
	-webkit-box-shadow: 0px 0px 0.5em rgba(0, 195, 191, 0.3);
	-moz-box-shadow:    0px 0px 0.5em rgba(0, 195, 191, 0.3);
	box-shadow:         0px 0px 0.5em rgba(0, 195, 191, 0.3);
}

#portfolio_projects li#FNZC:hover {
	border-color: #00BFE4;
	-webkit-box-shadow: 0px 0px 0.5em rgba(0, 191, 228, 0.3);
	-moz-box-shadow:    0px 0px 0.5em rgba(0, 191, 228, 0.3);
	box-shadow:         0px 0px 0.5em rgba(0, 191, 228, 0.3);
}

#portfolio_projects li#Pioneer:hover {
	border-color: #aaaaaa;
	-webkit-box-shadow: 0px 0px 0.5em rgba(153, 153, 153, 0.3);
	-moz-box-shadow:    0px 0px 0.5em rgba(153, 153, 153, 0.3);
	box-shadow:         0px 0px 0.5em rgba(153, 153, 153, 0.3);
}

#portfolio_projects li#Visualizer:hover {
	border-color: #8a8a8a;
	-webkit-box-shadow: 0px 0px 0.5em rgba(119, 119, 119, 0.3);
	-moz-box-shadow:    0px 0px 0.5em rgba(119, 119, 119, 0.3);
	box-shadow:         0px 0px 0.5em rgba(119, 119, 119, 0.3);
}

#portfolio_projects li#Wireframes:hover {
	border-color: #E2A3A8;
	-webkit-box-shadow: 0px 0px 0.5em rgba(226,163,168, 0.3);
	-moz-box-shadow:    0px 0px 0.5em rgba(226,163,168, 0.3);
	box-shadow:         0px 0px 0.5em rgba(226,163,168, 0.3);
}

#portfolio_projects img {
	margin-right: auto;
	margin-left: auto;
}

section.role {
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3f4f5));
	background-image: -moz-linear-gradient(270deg, white 0%, #f3f4f5 100%);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
	border-top: 1px solid #C3CAD5;
	border-bottom: 1px solid #C3CAD5;
}

.visit_site {
	border-radius: 14px;
	border: 1px solid #cfcfcf;
	background-color: white;
	box-shadow: 0 1px 1px white;
}

section {
	border-bottom: 1px solid #E0E0E0;
}

section:nth-child(odd) {
	background-color: #EFEFEF;
}

.frame {
	border: 1px solid #BBB;
	border: 6px solid white;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	position: relative;
}

.rslides {
	border-bottom: 1px solid #cccccc;
}


#pager .rslides_here a {
	background: transparent;
	border: 1px solid #636e81;
	box-shadow: 0 2px 7px rgba(0,s 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	background-color: white;
}

.rslides_tabs li {
	border-radius:50%;

}

#pager a {
	border-radius: 50%;
	padding: 0.250em;
	background-color: white;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
	border: 1px solid #a1adaf;
}

#pager a:hover {
	box-shadow: 0 1px 7px rgba(21, 123, 144, 0.36);
	-webkit-box-shadow: 0 1px 7px rgba(21, 123, 144, 0.36);
	-moz-box-shadow: 0 1px 7px rgba(21, 123, 144, 0.36);
	border: 1px solid #1DA8C2;
}

#pager .rslides_here a:hover { /*reset*/
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	border: 1px solid #636e81;
	border-radius: 50%;
	
}

#pager img {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 50px;
	border: 1px solid rgb(170, 170, 170);
}

.social, .social:hover {
	border: 0;
	color: transparent;
}

#linkedin.social {
	background-image: url(../images/social_media/linkedin.png);
}

#pinterest.social {
	background-image: url(../images/social_media/pinterest.png);
}

#vimeo.social {
	background-image: url(../images/social_media/vimeo.png);
}

#tumblr.social {
	background-image: url(../images/social_media/tumblr.png);
}

#dribbble.social {
	background-image: url(../images/social_media/dribbble.png);
}

#email.social {
	background-image: url(../images/social_media/email.png);
}


/*
.frame:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #333;
	position: absolute;
	top: 0;
	left: 0;
}*/
/*
.rslides_tabs a {
  background: rgba(0,0,0, .8);
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.rslides_here a {
	background: black;
}*/





/*Text*/

p a, p a:hover {
	color: rgb(18, 114, 202);
	text-decoration: none;
	font-family: "proxima-nova";
	ffont-weight: 300;
	-webkit-transition: all 0.2s ease;
}

p a:hover {
	color: rgb(3, 127, 241);
	-webkit-transition: all 0.2s ease;
	border-bottom: 0.063em solid rgb(157, 185, 212);
	padding-bottom: 0.063em;
}

.nav_links a {
	font: 0.75em "Gotham";
	/*font: 0.75em "proxima-nova";*/
	font-weight: 300;
	color: #60656d;
	text-transform: uppercase;
	text-decoration: none;
}

.work_nav_links a {
	font-family: "proxima-nova";
	font-weight: 300;
	font-size: 14px;
	text-decoration: none;
	color: white;/*
	color: #60656D;
	text-shadow: 0 1px 1px white;*/
}

.work_nav_links a:hover {
	color: white;
	text-shadow: none;
}

.work_nav_links a.current {
	font-family: "proxima-nova";
}

.fixed_nav .nav_links a {
	color: rgb(98, 106, 119);
}

.nav_links a.current {
	font-family: "Gotham Black";
	/*font-family: "proxima-nova";*/
	font-weight: 700;
	color: #39414D;
	position: relative;
}

.fixed_nav .logo p {
	font-size: 0.7em;
	font-family: "proxima-nova";
	font-weight: 400;
	text-transform: uppercase;
	color: gray;
	letter-spacing: 1px;
}

.title h1 {
	visibility: hidden;
}

h1 {
	font-family: "proxima-nova";
	font-weight: 400;
	font-size: 1.75em;
	line-height: 100%;
	color: #333333;
	text-shadow: 0 1px 1px white;
}

section h2 {
	font-family: "proxima-nova";
	font-weight: 400;
	font-size: 1.75em;
	line-height: 100%;
	color: #333333;
	margin-bottom: 15px;
}

section h3 {
	font-family: "proxima-nova";
	font-weight: 400;
	font-size: 1.4em;
	line-height: 121%;
	color: #333333;
	margin-bottom: 15px;
}

section p + h2, section p + h3, 
	section img + h2, section img + h3,
	ul + h2, ul + h3 {
	margin-top: 2.000em;
}

section p {
	font-family: "proxima-nova";
	font-weight: 300;
	font-size: 1em;
	line-height: 174%;
	color: #666666;
	margin-bottom: 15px;
}

section p span {
	font-family: "proxima-nova";
	font-weight: 400;
	color: #333333;
}

.visit_site {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	color: #494949;
	font: 0.750em "proxima-nova";
	font-weight: 600;
}

section.role .info p {
	text-align: right;
	margin-bottom: 0;
	line-height: 130%;
}
/*
section.role p {
	font-family: "ProximaNova-Semibold";
	font-size: 0.875em;
	color: #333333;
	margin-bottom: 0;
}*/

section.role p span {
	font-family: "proxima-nova";
	font-weight: 700;
	padding-left: 0.2em;
	padding-right: 0.2em;
	text-transform: uppercase;
	font-size: 0.78em;
	letter-spacing: 0.1em;
}

section.role p span:first-child {
	padding-left: 0em;
	padding-right: 0.5em;
}

section.role .date {
	font-size: 0.8em;
	font-family: "proxima-nova";
	font-weight: 400;
	color: gray;
	text-shadow: 0 1px 1px white;
	letter-spacing: 0.1em;
	margin-bottom: 0;	
	line-height: 130%;
}

section.content a {
	text-decoration: none;
	font-family: "proxima-nova";
	font-weight: 400;
	-webkit-transition: all 0.1s ease;
}

section.content a:hover {
	border-bottom: 0.063em solid #333;
	padding-bottom: 0.063em;
	-webkit-transition: all 0.1s ease;
}

section.content .rslides_nav:hover {
	border-bottom: 0;
}
/*

#portfolio_projects li a {
	color: white;
	text-decoration: none;
	text-align: center;
	font: 20px "Proxima Nova";
}*/