body {
	
	background-color: #A2D9D1;
	font: 17px Verdana, Arial, Helvetica, sans-serif;
	color: #767676;
	text-align: center;
}

#top_wrapper {
	margin: 5% auto 0 auto;
	width: 801px;
	background: url(images/top_bar.png) center top no-repeat;
	min-height: 20px;
}

#wrapper {
	width:  801px;
	margin: 0 auto 0 auto;
	min-height: 485px;
	text-align: center;
	background: url(images/background.png) repeat;
	//padding-bottom: px;
}

#bottom_wrapper {
	margin: 0 auto 0 auto;
	width: 801px;
	background: url(images/bottom_bar.png) center bottom no-repeat;
	min-height: 20px;
}

#index_header {
	padding-top: 30px;
	padding-bottom: 60px;
}

#header {
	width:  650px;
	margin: 0 auto 30px auto;
	padding-top: 25px;
	text-align: left;
}

#form_box {
	width:  650px;
	margin: 0 auto 0 auto;
	padding-top: 50px;
	min-height: 245px;
	border: 2px dashed #c0c0c0;
}

#form_box .label {
	
}

#form_box .form_field {
	margin-left: 10px;
	
}

#button_list {
	margin-top:  50px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 50 10 30 10;

}

.button1, .button2, .button3 {
  	width: 160px;
  	height: 100px;
  	margin: 0;
  	border: 0;
	background: url(images/box_yellow.png) no-repeat center top;
  	cursor: pointer;
}

.button1 {
	float: left;
}

.button2 {
	float: center;
}

.button3 {
	float: right;
}

.button1 .label, .button2 .label, .button3 .label {
	font: 15px Verdana, Arial, Helvetica, sans-serif;
	color: white;
	letter-spacing: 2px;
	text-align: center;
}

.button .label .highlight {
	text-transform: uppercase;
	font-weight: bold;
}

.button1:hover, .button2:hover, .button3:hover {
	width: 160px;
  	height: 100px;
	background: url(images/box_orange.png) no-repeat center top;
}

.error {
	color: red;
	font-size: 14px;
}


//span

//letter-spacing: 2px
	//text-transform: uppercase;